body {
    background-color: lightgray;
    color:slateblue;
   font-family: "Comic Sans ms";
   font-size: 25;
   font-weight: bold;
   text-align:center;
  }
  
  h1 {
    color: green;
    text-decoration: underline;
  }